<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul id="linkList">
        <li><a href="index.html.html" th:href="@{index}">Index</a></li>
        <li><a href="contact.html" th:href="@{contact}">Contact</a></li>
        <li><a href="about.html" th:href="@{about}">About</a></li>
        <li><a href="temperature.html" th:href="@{temperature}">Temperature</a></li>
    </ul>
    <h1>Main page</h1>
</body>
</html>